pre {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #eee
}

.p {
    color: #909090;
}

div.body {
    padding: 0 10px 0 10px;
}

a.copybtn {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    cursor: pointer;
}

.injected{
    display: none;
}